Name        Date            Notes

Rahik       10/23           setting up repo

Milan       10/27           Created frame table

Jake        10/27           Changed stack to use frame table

Rahik       10/27           nothing substantial

Milan       10/28           init hash

Jake        10/28           Sup page table

Rahik       10/28           Added file data

Milan       12/1            slow ass wifi / page table

Jake        12/1            Bug fixes