Name        Date            Notes

Rahik       10/23           setting up repo

Milan       10/27           Created frame table

Jake        10/27           Changed stack to use frame table

Rahik       10/27           nothing substantial

Milan       10/28           init hash

Jake        10/28           Sup page table

Rahik       10/28           Added file data

Milan       11/1            slow ass wifi / page table

Jake        11/1            Bug fixes

Rahik       11/1            New lock error + fixed log

Milan       11/1            not reading 10k bytes

Jake        11/1            incr ofs in load segment

Rahik       11/1            stack growth attumpted

Milan       11/2            stack growth

Jake        11/2            started eviction

Rahik       11/2            eviction

Milan       11/3            swapping

Jake        11/3            11, fixed stack growth

Rahik       11/3            10/94

Milan       11/3            nested destruction

Jake        11/3            Check for page writeable

Rahik       11/8            Buffer check for stack

Milan       11/8            7/94

Jake        11/8            now 5

Rahik       11/9            now at 2